@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Monoton&family=Poppins&family=Press+Start+2P&display=swap');





.welcome-msg-box{
    display: flex;
    justify-content: end;
    align-items: center;
    
    width: 80%;
    transition: all 3s ease-in;
    animation: welcomee 2s ease-in 1s ;
    font-family: 'Dancing Script', cursive;
        
    height: fit-content;
    z-index: -999;
    
}

.welcome-msg{
    border: none;
    background: transparent;
    
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    
}

@keyframes welcome {
    0%{
        left: -1000px;
    }
    100%{
        left: 0;
    }
    
}

.banner-box{
    /* box-shadow: inset 10px 10px 20px 10px #f7f7f754; */
    
}