
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Monoton&family=Poppins&family=Press+Start+2P&display=swap');


.title-navbar{
    
    color: #242323;
    text-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.678);  
    font-family: 'Dancing Script', cursive;
}