

.cursor{
  width:28px;
  height: 28px;
  background: rgba(0, 0, 0, 0.646);
  border: 4px solid rgb(255, 255, 255);
  position: fixed;
  
  border-radius: 50%;
  z-index: 999;
}



.lightLine{
  height: 0.001px;
  min-width: 100%;
  /* transform: rotate(100deg); */
  box-shadow: 1200px 800px 600px 200px #eee;
  animation: bgLight;
  animation-duration: 1s;
  z-index: -999;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bgLight {
  0%{
    transform: rotate(-40deg);
  }
 50%{
  transform: rotate(360deg);
 }
  100%{
    transform: rotate(-40deg);
  }
}
.lightLine2{
 
  height: 0.001px;
  min-width: 100%;
  /* transform: rotate(100deg); */
  box-shadow: 1200px 800px 600px 200px #eee;
  animation: bgLight2;
  animation-duration: 1s;
  z-index: -999;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bgLight2 {
  0%{
    transform: rotate(360deg);
  }
 50%{
  transform: rotate(-40deg);
 }
  100%{
    transform: rotate(360deg);
  }
}
