@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brawler&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Nunito&family=Ubuntu&display=swap');

* {

  margin: 0;
  padding: 0;
  mix-blend-mode: luminosity;
}

body {
  min-height: 100vh;
  /* color: #f7f7f7;  */
  /* background-image: radial-gradient(circle, #1e1e1e, #1e1e1ed2); */
  background-image: radial-gradient(circle, #f7f7f7, #dfd6d6, #1e1e1e6c, #1e1e1ec4);
  /* background-image: radial-gradient(circle, #ff0808, #fdf5f5);   */
  /* background: red; */
  /* letter-spacing: 1px; */
  /* font-family: 'Unbounded', cursive; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Mukta', sans-serif; */
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */

}

::-webkit-scrollbar {
  width: 0px;
  background: #f7f7f7;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee0a0a;
}